html, body {
    margin: 0px;
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.float {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 1000;
}

.background-image {
    height: 100%;
    min-height: 500px;
    background-image: url('assets/kayak.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(90%);
    box-shadow: 0 0 8px 3px inset white;
}

.leaflet-container.crosshair-cursor {
    cursor: crosshair;
}

.text-marker-icon {
    width: auto;
    height: 25px;
}

.layer-details {
    position: fixed;
    top: 8%;
    left: 1%;
    z-index: 1000;
    width: 25%;
}

.layer-details-marker-icon {
    width: auto;
    height: 35px;
}

.distance {
    position: fixed;
    top: 8%;
    left: 1%;
    z-index: 1000;
}

#accountModal .modal-xl {
    max-width: 925px;
}

a {
    cursor: pointer;
}

.keep-new-lines {
    white-space: pre-wrap;
}
