<div *ngIf="accountService.userName" class="btn-group">
    <button data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-info dropdown-toggle">
        {{ accountService.userName }}
    </button>
    <div class="dropdown-menu dropdown-menu-end" style="min-width: 0px;">
        <a *ngIf="!layerCreated" (click)="onUserLayers()" class="dropdown-item">My Routes & Locations</a>
        <a *ngIf="layerCreated" class="dropdown-item disabled">My Routes & Locations</a>
        <a (click)="onSignOut()" class="dropdown-item">Sign Out</a>
    </div>
</div>
<a *ngIf="!accountService.userName" (click)="onSignIn()" class="btn btn-primary">Sign In</a>
