<div class="float">
    <create-component></create-component>
    <!--<partial name="_Partial_Create" />-->
    <!--<partial name="_Partial_Account" />-->
</div>

<div id="map"></div>

<discard-modal></discard-modal>

<!--<partial name="_Partial_Modal_Save" model="new Route()" />
<partial name="_Partial_Modal_Save" model="new Location()" />
<partial name="_Partial_Modal_Discard" />
<partial name="_Partial_Modal_Details" />
<partial name="_Partial_Modal_UserLayers" />
<partial name="_Partial_Modal_DeleteConfirmation" />
<partial name="_Partial_Modal_Distance" />

    @section Scripts {
<script src="/js/viewAll.js"></script>
<script src="/js/createRoute.js"></script>
<script src="/js/createLocation.js"></script>
<script src="/js/site.js"></script>
<script>
    var site = new Site();
    var layer = site.getLayer();
</script>
    }-->
